body {
    font-family: 'Fira Code iScript', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2%;
    width: 100%;
    padding-left: 10%;
    border-style: solid;
    border-color:teal;
    border-width: 3px;
    background-color: rgb(57, 84, 84);
    color: white;
}

a {
    text-decoration: none;
    color:rgb(252, 196, 84);
    font-weight: bold;
}

a.footer {
    text-decoration: none;
    color: #048A81;
    font-weight: bold;
}

button {
    height: 40px;
    width: 40px;
    border-style: outset;
    font-family:'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 15px;
    border-radius: 50%;
    background-color: rgb(236, 255, 236);
    border-color: rgb(66, 192, 62);
}

button:active {
    border-style: inset;
    background-color: rgb(204, 241, 204);
}

button:hover {
    background-color: rgb(236, 248, 236);
}

.device {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 30%;
    gap: 8px;
    border-width: 4px;
    border-style: outset;
    border-radius: 20px;
    background-color: rgb(249, 254, 249);
    border-color: rgb(204, 241, 204);
    padding: 35px 0;
    width: 226px

}

.display {
    text-align: right;
    color: white;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 10px;
}

.display {
    height: 45px;
    width: 150px;
    border-style:inset;
    border-width: 3px;
    border-radius: 17px;
    background-color: rgb(10, 65, 10);
    border-color: rgb(43, 141, 39);
}

.operation {
    background-color: rgb(252, 196, 84);
    border-color: #865a1c;
    color: white;
}

.other, .extra {
    background-color: #048A81;
    color: white;
    border-color: #055d57;
}

.other:hover, .extra:hover {
    background-color: #0f6f69;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    width: 170px;
}